@charset "UTF-8";
/* CSS Document */

*, *:before, *:after{
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.wrapper{
 	 max-width:900px;
 	 margin: 0 auto;
}

.grid{
  	clear: both;
}

.grid:after{
  /*this is making grid expand to contain floated columns*/
  content: "";
  display: table;
  clear: both;
}

section:after{
  /*this is making grid expand to contain floated columns*/
  content: "";
  display: table;
  clear: both;
}

[class*='column-']{
   /*this is used to select all the divs with colum- in it*/
  float: left;
  padding-right: 50px;
  border: 0px solid black;
  margin-bottom: 20px; /*add space at the bottom of grid, margin adds above box*/
}

.grid .grid [class*='column-']{
  padding: 0 10px;
}


.grid .grid{
  margin: 0 -25px 25px;
}

/*navigation*/
nav{
	overflow:auto;
	background: #808A81;
	position:fixed;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	z-index: 1;
}

nav li{
	display: inline;
	list-style:none;
	float:left;
	display:inline;
	padding-left:20px;
	padding-right:70px;
	margin: 0 auto;
}

nav ul{
	margin: 0 auto;
}

nav a{
	color: #241C11;
	width:15%;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight:200;
}

nav a:hover{
	color: #F1EDC8;
}

header{
	overflow:auto;
	width:100%;
	margin:0 auto;
	max-width: 1170px;
	z-index: 1;
}

body{
	margin: 0;
	background-image:url(../image/hero-pattern.jpg);
	background-repeat:repeat;
}


/*typeography*/

h1{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:40px;
	font-weight:400;
	color:#567365;
	text-align:left;
	
}

h3{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:20px;
	color:#808A81;
	font-weight:300;
	
}

h4{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	
}

p{
	padding-left: 5px;
	font-family: 'Oswald light 300', sans-serif;
}

body{
	margin: 0;
	background-image:url(../image/hero-pattern.jpg);
	background-repeat:repeat;
}


/*images*/

img {
	width:100%;
} 

/*home background image*/
.hero-home{
	width:100%;
  	height: 800px; 
	background:url(../image/hero-home-bag.jpg) no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-home img {
  width:auto;
}

#home img{
	height:900px;
	margin: -150px;
	margin-top: 250px;
}

#home p{
	font-family:'Oswald', sans-serif;
	font-size:18px;
	color:#F1EDC8;
	line-height:26px;
	margin: -100px;
	margin-top: 460px;
	background-color: #808A81;
	padding: 20px;
	line-height:35px;
}

#home input{
	margin-right: 20px;
}

#home input:hover{
	color:#F1EDC8;
}


/*product background image*/
.hero-product{
	width:100%;
  	height: 1350px; 
	background:url(../image/hero-pattern.jpg);
  	background-position:center;
}

.hero-product img {
  width:auto;
}

/*product*/
#product{
	margin-top: 50px;
}

#product p{
	font-family: 'Lato', sans-serif;
	font-size:18px;
	color:#241C11;
	line-height:28px;
	font-weight:300;
}

#product input, #home select, #home input, select{
	font-family: 'Oswald', sans-serif;
	color:#241C11;
	padding:5px;
	border: solid 5px;
	background:#808A81;
	border-color:#808A81;
	cursor: pointer;
	outline-width: 0px;
	outline: none;
}

#product input:hover{
	color:#F1EDC8;
}

#product img{
	width:150px;
}


/*about background image*/
.hero-about{
	width:1660px;
  	height: 800px; 
	background:url(../image/hero-about-beans.jpg) no-repeat;
	background-size:100%;
  	background-position:center;
	margin: -75px;
}

.hero-about img {
  width:auto;
}

/*about*/
#about p h3{
	margin: -100px;
}

#about p{
	color: #f2eddb;
	line-height:26px;
}

.feature-review{
	font-family:'Oswald', sans-serif;
	font-size:18px;
	color:#241C11;
	line-height:26px;
	background-color: #808A81;
	padding: 20px;
	line-height:35px;
	margin: -75px;
}

#about h3{
	color:#241C11;
	padding-left:5px;
}

#about a {
	font-family:'Oswald', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #567365;
	text-decoration: none;
	padding-left: 10px;
}

#about a:hover {
	color: #f2eddb;
}

/*follow-us background image*/

#follow-us img{
	margin-right: 10px;
}

/*follow-us*/
#follow-us{
	margin-top:-40px;
}

.follow-review h3{
	color:#f2eddb;
}

#follow-us p{
	font-family: 'Lato', sans-serif;
	font-size:16px;
	color:#241C11;
	line-height:20px;
	font-weight:300;
}


.follow-review{
	font-family:'Oswald', sans-serif;
	font-size:18px;
	color:#241C11;
	line-height:26px;
	background-color: #808A81;
	padding: 10px;
	line-height:30px;
}

.social-icons{
	height:30px;
	width:30px;
	float: left;
}

.social-icons:hover{
	opacity:.7;
}

/*connect with us background image*/
.hero-connect{
	width:100%;
	background:url(../image/hero-connect-bunch-of-beans.jpg) no-repeat;
	background-size:100%;
}

.hero-connect img {
  width:auto;
}


/*connect*/
#connect-with-us textarea{
	width:100%;
}

#connect-with-us h3{
	color:#F1EDC8;
}

#connect-with-us textarea{
	width:100%;
}

.map img{
	height:350px;
	width:350px;
	margin-top:540px;
}

/*footer background image*/


.hero-product img {
  width:auto;
}

.media{
	float:left;
	margin-right: 0.5em;
	display:block;
	width: 120px;
	overflow:hidden;
	padding:1em;
}

footer input {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight:200;
	border: solid 3px;
	border-color: #808A81;
	height: 30px;
	background: #808A81;
	width:100%;
	padding-left: 10px;
}

footer textarea{
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight:200;
	border: solid 3px;
	border-color: #808A81;
	background: #808A81;
	height:200px;
	width:100%;
}

footer button {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight:200;
	border: solid 3px;
	border-color: #808A81;
	height: 30px;
	background: #808A81;
}

footer button:hover{
	color:#F1EDC8;
}

.copyright{
	font-family: 'Oswald', sans-serif;
	font-weight:200;
	color: #567365;
	font-size:12px;
}
/*columns for the grid*/
[class*='column-']:last-of-type{
  padding-right: 0px;
}

.column-1-12{
  width: 8.33%;
}

.column-2-12{
  width: 16.66%;
}

.column-3-12{
  width: 25%;
}

.column-4-12{
  width: 33.33%;
}

.column-5-12{
  width: 41.66%;
}

.column-6-12{
  width: 50%;
}

.column-7-12{
  width: 58.33%;
}

.column-8-12{
  width: 66.66%;
}

.column-9-12{
  width: 75%;
}

.column-10-12{
  	width: 83.33%;
}

.column-11-12{
  	width: 91.66%;
}

.column-12-12{
  	width: 100%;
}

.offset-2-12 {
  margin-left: 16.66%;
}

.top-spacing{
	margin-top: 40px;
}

.photo-spacing{
	margin-top: 100px;
}


/*helper classes*/
.clearfix{
	clear: both;
}

.left{
	float:left;
}

.right{
	float:right;
}

.centered{
	float: none;
	margin: 0 auto;
}

.add-cart {
	margin-right:10px;	
}

@media only screen and (max-width: 700px){ /*once it gets down this low it will change everything*/
  [class*='column-']{
    	width: 100%;
  }
  
  .wrapper{
    	max-width: 100%;
		margin: 0 auto;
  }
  
  .column-mobile{
	    /* specifies certain boxes to make 50 percent */
		width: 50%;
	}
	
	body img{
		max-width:500px;
	}

	.mobile-hidden{
		display:none;
	}
	
	
	nav li{
		font-size:12px;
		display:inline;
	}
	
	#home p{
		font-size:16px;
		line-height:18px;
		padding-left:80px;
		width:100%;
	}
	
	#home img{
		height:50px;
		width:50px;
	}
	
	h1{
		font-size:16px;
		padding:20px;
	}
	
	h3{
		font-size:15px;
		padding:20px;
	}
	
	p{
		font-size: 14px;
		line-height:16px;
		padding:20px;
	}
	
	textarea, input{
		width:100%;
	}
	
	.product input{
		margin-top:20px;
		margin-bottom:10px;
	}
}