@charset "UTF-8";
/* CSS Document */

*, *:before, *:after{
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.wrapper{
 	 max-width:900px;
 	 margin: 0 auto;
}

.grid{
  	background-color:pink;
  	clear: both;
}

.nested{
 	 background-color: aqua;
}

img {
	width:100%;
} 

.grid:after{
  /*this is making grid expand to contain floated columns*/
  content: "";
  display: table;
  clear: both;
}

[class*='column-']{
   /*this is used to select all the divs with colum- in it*/
  float: left;
  padding-right: 50px;
  border: 0px solid black;
  margin-bottom: 20px; /*add space at the bottom of grid, margin adds above box*/
}

.grid .grid [class*='column-']{
  padding: 0 25px;
}

.grid .grid{
  margin: 0 -25px 25px;
}

/*navigation*/
nav li{
	list-style:none;
	display:inline;
}

header{
	overflow:auto;
	position:fixed;
	background: #ffffff;
	width:100%;
	margin:0 auto;
	max-width: 1170px;
	z-index: 1;
}

/*home background image*/
.hero-home{
	width:100%;
  	height: 640px; 
	background:url("http://placehold.it/1200x600") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-home img {
  width:auto;
}

/*product background image*/
.hero-product{
	width:100%;
  	height: 1200px; 
	background:url("http://placehold.it/") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-product img {
  width:auto;
}

#product{
	margin-top: -80px;
}

/*about background image*/
.hero-about{
	width:100%;
  	height: 550px; 
	background:url("http://placehold.it/1200x600") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-about img {
  width:auto;
}

/*follow-us background image*/
.hero-follow-us{
	width:100%;
  	height: 600px; 
	background:url("http://placehold.it/") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-follow-us img {
  width:auto;
}

#follow-us img{
	margin-right: 10px;
}

/*connect with us background image*/
.hero-connect{
	width:100%;
  	height: 570px; 
	background:url("http://placehold.it/1200x4000") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-connect img {
  width:auto;
}

/*footer background image*/
.hero-footer{
	width:100%;
  	height: 400px; 
	background:url("http://placehold.it/1200x2800") no-repeat;
	background-size:100%;
  	background-position:center;
}

.hero-product img {
  width:auto;
}

p{
	padding-left: 5px;
}

[class*='column-']:last-of-type{
  padding-right: 0px;
}

.column-1-12{
  width: 8.33%;
}

.column-2-12{
  width: 16.66%;
}

.column-3-12{
  width: 25%;
}

.column-4-12{
  width: 33.33%;
}

.column-5-12{
  width: 41.66%;
}

.column-6-12{
  width: 50%;
}

.column-7-12{
  width: 58.33%;
}

.column-8-12{
  width: 66.66%;
}

.column-9-12{
  width: 75%;
}

.column-10-12{
  	width: 83.33%;
}

.column-11-12{
  	width: 91.66%;
}

.column-12-12{
  	width: 100%;
}

.offset-2-12 {
  margin-left: 16.66%;
}

.top-spacing{
	margin-top: 40px;
}

.photo-spacing{
	margin-top: 100px;
}

.clearfix{
	clear: both;
}

.left{
	float:left;
}

.right{
	float:right;
}

.centered{
	float: none;
	margin: 0 auto;
}

.add-cart {
	margin-right:10px;	
}

@media only screen and (max-width: 700px){ /*once it gets down this low it will change everything*/
  [class*='column-']{
    	width: 100%;
  }
  
  .wrapper{
    	max-width: 500px;
    	margin: 0 auto;
  }
  
  .column-mobile{
	    /* specifies certain boxes to make 50 percent */
		width: 50%;
	}

.mobile-hidden{
	display:none;
}
}